# ===============================
# Environment Files
# ===============================
.env
venv/

# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Node
# ===============================
node_modules/

# ===============================
# IDE / OS
# ===============================
.idea/
.DS_Store

# ===============================
# Word Temp Files
# ===============================
~$*.docx
~WRL*.tmp

# ===============================
# Testing / Database
# ===============================
test*.py
*.duckdb